@use 'theme';
@use '../../scss/@email-tokens' as email-tokens;
@use '../../scss/tools/dictionaries' as dictionaries;

.Heading {
    padding-bottom: theme.$padding-bottom-mobile;

    @media (min-width: theme.$breakpoint) {
        padding-bottom: theme.$padding-bottom-tablet;
    }
}

.Heading__text {
    font-weight: email-tokens.$font-weight-bold;
    color: theme.$color;
}

@include dictionaries.generate-typography-sizes('Heading__text', theme.$sizes);
