    $colorBrandPrimary: #19325a;    
    $colorBrandSecondary: #ff9900;    
    $colorBackgroundBasic: #ffffff;    
    $colorBackgroundCover: #f7f7f7;    
    $colorBackgroundInverted: #171717;    
    $colorTextPrimary01Default: #171717;    
    $colorTextSecondary01Default: #8d9c9f;    
    $colorTextPrimaryInverted01Default: #ffffff;    
    $colorTextSecondaryInverted01Default: #e9e9e9;    
    $colorTextPrimary02Disabled: #d6d6d6;    
    $colorTextSecondary02Disabled: #d6d6d6;    
    $colorActionPrimary01Default: #f48225;    
    $colorActionPrimary02Hover: #ed720c;    
    $colorActionPrimary03Active: #d54f0b;    
    $colorActionPrimary04Disabled: #f3f3f3;    
    $colorActionSecondary01Default: #828282;    
    $colorActionSecondary02Hover: #696969;    
    $colorActionSecondary03Active: #4f4f4f;    
    $colorActionSecondary04Disabled: #f3f3f3;    
    $colorActionLinkPrimary01Default: #3478dd;    
    $colorActionLinkPrimary02Hover: #2267cd;    
    $colorActionLinkPrimary03Active: #1c53a6;    
    $colorActionLinkPrimary04Disabled: #c4c4c4;    
    $colorActionLinkPrimary05Visited: #5bc4b7;    
    $colorActionLinkSecondary01Default: #3f4547;    
    $colorActionLinkSecondary02Hover: #2e3233;    
    $colorActionLinkSecondary03Active: #212324;    
    $colorActionLinkSecondary04Disabled: #c4c4c4;    
    $colorActionLinkSecondary05Visited: #a7bcc2;    
    $colorBorderMain01Default: #dcdada;    
    $colorBorderMain02Hover: #d1d1d1;    
    $colorBorderMain03Active: #c9c9c9;    
    $colorBorderMain04Selected: #3478dd;    
    $colorBorderMain05Disabled: #f4f4f4;    
    $colorBorderFocus01Default: #61b3ff;    
    $colorTextPrimaryInverted02Disabled: #8d9c9f;    
    $colorTextSecondaryInverted02Disabled: #8d9c9f;    
    $colorActionTertiary01Default: #f3f3f3;    
    $colorActionTertiary02Hover: #e6e6e6;    
    $colorActionTertiary03Active: #d9d9d9;    
    $colorActionTertiary04Disabled: #f3f3f3;    
    $colorActionSelected01Default: #379bf6;    
    $colorActionSelected02Hover: #0b82ef;    
    $colorActionSelected03Active: #0967be;    
    $colorActionSelected04Disabled: #e5e5e5;    
    $colorActionUnselected01Default: #828282;    
    $colorActionUnselected02Hover: #696969;    
    $colorActionUnselected03Active: #4f4f4f;    
    $colorActionUnselected04Disabled: #e6e6e6;    
    $colorEmotionInformative01Default: #3478dd;    
    $colorEmotionInformative02Hover: #0967be;    
    $colorEmotionInformative03Active: #2267cd;    
    $colorEmotionInformative04Disabled: #e5e5e5;    
    $colorEmotionInformative05Background: #ebf5ff;    
    $colorEmotionSuccess01Default: #198f65;    
    $colorEmotionSuccess02Hover: #13714f;    
    $colorEmotionSuccess03Active: #0f5a3f;    
    $colorEmotionSuccess04Disabled: #e5e5e5;    
    $colorEmotionSuccess05Background: #e8f8f2;    
    $colorEmotionWarning01Default: #ed720c;    
    $colorEmotionWarning02Hover: #d54f0b;    
    $colorEmotionWarning03Active: #ae4009;    
    $colorEmotionWarning04Disabled: #e5e5e5;    
    $colorEmotionWarning05Background: #fff6ea;    
    $colorEmotionDanger01Default: #db0000;    
    $colorEmotionDanger02Hover: #a80000;    
    $colorEmotionDanger03Active: #750000;    
    $colorEmotionDanger04Disabled: #e5e5e5;    
    $colorEmotionDanger05Background: #fff2f2;    
    $colorActionInverted01Default: #f3f3f3;    
    $colorActionInverted02Hover: #e5e5e5;    
    $colorActionInverted03Active: #d9d9d9;    
    $colorActionInverted04Disabled: #f3f3f3;    
    $colorActionLinkInverted01Default: #f3f3f3;    
    $colorActionLinkInverted02Hover: #e5e5e5;    
    $colorActionLinkInverted03Active: #d9d9d9;    
    $colorActionLinkInverted04Disabled: #f3f3f3;    
    $colorActionLinkInverted05Visited: #a7bcc2;    
    $colorBackgroundBackdrop: #171717b2;    
    $colorBrandGradientDarkside: #073256;    
    $colorBrandGradientLightside: #185c95;    
    $colorBrandGradientMid: #0c4471;    
    $colorBackgroundInteractive01Default: #17171700;    
    $colorBackgroundInteractive02Hover: #1717171a;    
    $colorBackgroundInteractive03Active: #17171733;    
    $colorBackgroundInteractiveInverted01Default: #17171700;    
    $colorBackgroundInteractiveInverted02Hover: #17171733;    
    $colorBackgroundInteractiveInverted03Active: #1717174d;    
