
.typographyHeadingDesktopLargeText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopLargeLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopMediumText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopMediumLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopSmallText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopSmallLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletLargeText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletLargeLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletMediumText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletMediumLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletSmallText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletSmallLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileLargeText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileLargeLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileMediumLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileSmallText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileSmallLink 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXlargeTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileMediumText 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXlargeTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXlargeTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXlargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXlargeButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXlargeLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXsmallTextRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXsmallTextBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXsmallTextItalic 
 {
  
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXsmallTextLink 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXsmallButton 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXsmallLabel 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopLargeLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopMediumLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletLargeLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletMediumLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileLargeLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileMediumLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingMobileSmallLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXlargeLinkUnderline 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeLinkUnderline 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyMediumLinkUnderline 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallLinkUnderline 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyXsmallLinkUnderline 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingDesktopSmallLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadingTabletSmallLinkUnderline 
 {
  
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

