@use 'sass:map';
@use '@tokens' as tokens;
@use '../../scss/@email-tokens' as email-tokens;

$breakpoint: tokens.$breakpoint-tablet;

$colors: (
    primary: tokens.$action-link-primary-default,
    secondary: tokens.$action-link-secondary-default,
    inverted: tokens.$action-link-inverted-default,
);

$sizes: (
    xsmall: (
        mobile: (
            font-size: email-tokens.$text-xsmall-font-size,
            line-height: email-tokens.$text-xsmall-line-height,
        ),
    ),
    small: (
        mobile: (
            font-size: email-tokens.$text-small-font-size,
            line-height: email-tokens.$text-small-line-height,
        ),
    ),
    medium: (
        mobile: (
            font-size: email-tokens.$text-medium-font-size,
            line-height: email-tokens.$text-medium-line-height,
        ),
        tablet: (
            font-size: email-tokens.$text-large-font-size,
            line-height: email-tokens.$text-large-line-height,
        ),
    ),
    large: (
        mobile: (
            font-size: email-tokens.$text-large-font-size,
            line-height: email-tokens.$text-small-line-height,
        ),
        tablet: (
            font-size: email-tokens.$text-xlarge-font-size,
            line-height: email-tokens.$text-small-line-height,
        ),
    ),
);
